*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        letter-spacing: 1px;
        font-family: 'Inter', sans-serif;
    }


body{
    background-color: #F9F9F9;
    color: #3d155f;
}

header{
    background-image: url("logo.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: grid;
    min-height:80vh;
    color: #ccf381;
}

.header-tittle{
    text-align: left;
    width: 100%;
    padding: 0 50px;
    margin-bottom: 90px;

}
header p {
    margin: 0 20px;
    color: #ccf381;
    font-size: 23px;
    
}


header h1{
    margin-top: 100px;

}

section{
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.p{
    font-size: 45px;
    font-family: sans-serif;
    padding: 50px;
}

.p1{
    font-size: 45px;
    font-family: sans-serif;
    margin: 0 50px;
    display: flex;
    align-items: center;
    min-height: 100vh;
}


h1{
    font-size: 100px;
    font-family: Tahoma;
}

.hidden {
    opacity: 0;
    filter: blur(20px);
    transform: translateX(-100%);
    transition: all 1s;

}

.show {
    opacity: 1;
    transition: all 1s;
    transform: translateX(0);
    filter: blur(0);
}

.logos{
    display: flex;
    gap: 20px;
}

.profile-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile {
    height: 340px;
    left: 52%;
    top: 9%;
    position: absolute;
    width: 340px;
}

.avatar {
    height: 200px;
    background-color: #386ee2;
    border-radius: 10px;
    margin: 5px;
}

.logos :nth-child(2){
    transition-delay: 400ms;
}

.logos :nth-child(3){
    transition-delay: 700ms;
}

.logos :nth-child(4){
    transition-delay: 1000ms;
}




@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}



main {
    height: 80vh;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}


